<div class="container-fluid">
  <div class="jumbotron">


    <div class="row">
      <div class="col-md-8">
        <h1>{{title}}</h1>
        <p>A example application to showcase Angular2 together with Spring Data REST.</p>
        <a>http://blog.jdriven.com/2016/12/angular2-spring-boot-getting-started/</a>
      </div>
      <div class="col-md-4">
        <img src="../assets/hobbit.jpg"
             alt="Bilbo, the hobbit opening the door of his house and going into sunlight"
             class="img-rounded">
      </div>

    </div>
  </div>


  <character></character>
</div>

